body {
    margin: 0;
}

main {
    width: 1180px;
    margin: auto ;
}
a {
    text-decoration: none;
    outline: none;
    color: #A6A6A6;
    font-family: "Verdana","Microsoft JhengHei","微軟正黑體",Geneva,Tahoma,sans-serif;
    font-size: 14px;
}

header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 1180px;
    background-color: white;
    z-index: 1;
    padding-top: 2.5em;
    margin-bottom: 1em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_left {
    display: flex;
    align-items: flex-end;
}

.logo {
    display: inline-block;
    background-image: url("../image/logo-2011.png");
    background-size: cover;
    width: 122px;
    height: 48px;
}

.nav_content {
    margin: 0.3em 1.5em 0 1.5em;
    display: flex;
    align-items: flex-end;

}

.nav_content a::before {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background-color: #A38D77;
    margin-bottom: -26px;
}

.nav_content a:hover::before {
    width: 100%;
    transition: all .5s;
}

.nav_margin {
    margin: 0 1.5em;
}

.nav_right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nav_icon {

    a {
        display: inline-block;
        background-size: cover;
        width: 18px;
        height: 18px;
        margin: 0 10px;
    }
}

.nim1 {
    background-image: url("../image/bell.png");
}

.nim1:hover {
    background-image: url("../image/bell\ \(1\).png");
}

.nim2 {
    background-image: url("../image/user\ \(2\).png");
}

.nim2:hover {
    background-image: url("../image/user\ \(3\).png");
}

.nim3 {
    background-image: url("../image/grocery-store.png");
}

.nim3:hover {
    background-image: url("../image/grocery-store\ \(1\).png");
}

.wrap {
    max-width: 220px;
    margin:20px auto 0 10px;
    height: auto;
   }

.search {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.search-bar {
    width: 100%;
    height: 1.6em;
    padding: 1px 4px;
    font-family: "Verdana","Microsoft JhengHei","微軟正黑體",Geneva,Tahoma,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #A6A6A6;
    border: 2px solid #BCBCBC;
}

.search-btn{
    border: 0px;
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    outline:none;
    background-image: url("../image/magnifying-glass.png");
    background-size: cover;
    cursor: pointer; 
    position: absolute;
    top: 0.3em;
    right: 0.3em; 
   }

   .pageContent{
    margin-top: 110px;
   }

.women_ad {
    display: inline-block;
    background-image: url("../image/58515_1010X400_221102_TW.jpg");
    background-size: cover;
    width: 100%;
    height: 630px; 
}

.radio-btns {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 280px);
    margin-bottom: 5em;
  }
  
  .radio-btns:hover .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.55;
  }
  
  .radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(#000, 0.3);
  }
  
  @media (min-width: 30rem) {
    .radio-btns {
      grid-template-columns: repeat(4, 280px);
    }
  }
  
  button{
    border: none;
  }

  .radio-btns__btn {
    background-color:#fff;
    border: none;
    position: relative;
    cursor: pointer;
    transition: .3s;

    p {
        margin: 0.2em 0 0 0;
        font-size: 14px;
    }
    
  }
  
  .radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
  }
  
  .radio-btns__btn img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .radio_word {
    color: #A6A6A6;
    font-family: "Verdana","Microsoft JhengHei","微軟正黑體",Geneva,Tahoma,sans-serif;
    display: flex;
    justify-content: center;
  }

.decoline {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
}

footer {
    height: 8em;
    display: flex;
    justify-content: space-between;
}


.footer_content {
    display: flex;
    align-items: flex-end;
}

.footer_margin {
    margin: 1em 1em 2em 1em;
}

.footer_margin_1 {
    margin: 1em 1em 2em 0;
}

h6 {
    color: #A6A6A6;
    margin: 2.5em 1em;  
}

.footer_icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    a {
        display: inline-block;
        background-size: cover;
    }
}

.im1 {
    background-image: url("../image/Rectangle\ 90.png");
    width: 60px;
    height: 60px;
}

.im2 {
    background-image: url("../image/Group\ 4.png");
    width: 60px;
    height: 60px;
}

.im3 {
    background-image: url("../image/Group\ 5.png");
    width: 60px;
    height: 60px;
}

h1 {
    margin: 2em 0 0.5em 0;
    font-family: "Verdana","Microsoft JhengHei","微軟正黑體",Geneva,Tahoma,sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #A6A6A6;
}

h2 {
    margin: 0.8em 0 1em 0;
    font-family: "Verdana","Microsoft JhengHei","微軟正黑體",Geneva,Tahoma,sans-serif;
    color: #887269;
    font-size: 20px;
}

.color_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cloth_color {
    margin: 1em 5px ;
    width: 15px;
    height: 15px;
    background-color: #A38D77;
}